.venv/
.git/
.gitignore
.github/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
sql_data_analyst.egg-info/
frontend/dist/
frontend/node_modules/
src-tauri/target/
src-tauri/binaries/
**/uploads/*
!**/uploads/.gitkeep
docker-compose.yml
Dockerfile
.dockerignore
pyrightconfig.json
openenv.yaml
uv.lock
tests/
